# DocVault Configuration
PORT=8080

# Database
POSTGRES_USER=docvault
POSTGRES_PASSWORD=docvaultpassword
POSTGRES_DB=docvault

# File Storage
DOCVAULT_STORAGE_LOCATION=./data/storage

# Security
JWT_SECRET=thisIsADefaultSecretKeyWithAtLeast32Characters
